@import url(../base/style.css);
@import url(profile_header.css);
@import url(user_bar.css);
@import url(navigation.css);

html {
   background: url(images/background.png) repeat fixed left top transparent;
}

body {
   background-color: transparent;
   font-family: "trebuchet MS", verdana, sans-serif;
}

#theme-header{
   background: url("images/topo.gif") no-repeat scroll left top transparent;
   height: 40px
}

#wrap-2{
   background: url("images/topo2.gif") no-repeat scroll left top #FEFEFE;
}

#site-title {
   left: 10px;
   top: -31px;
}

#site-title a{
   background-image: url("images/marca-consultapublica.png");
   background-repeat: no-repeat;
   height: 90px;
   left: 0;
   top: 0;
	
}

#content {
   margin-top: 150px;
}

#content .box-2 #content .feed-reader-block, #content .recent-documents-block{
   overflow: visible;
}
#content .box-1{
   margin-left: 282px;
}
#content .box-2{
   width: 282px;
   background-color: #EFEFEF;
   margin-left: 15px;
   width: 250px;
}

#content .block {
  margin: 0px;
}
#content .block ul{
  list-style: none;
  text-align: justify;
  padding-left: 20px;
  padding-right: 5px;
}

#content .box-2 .block-inner-1 .block-inner-2{
   background: url("images/textosemconsulta.gif") no-repeat scroll left top transparent;
   margin-left: -14px;
}

#content .box-2  .block-inner-2 .block-title{
   background: url("images/textosemconsulta-canto.gif") no-repeat scroll left 44px transparent;
   height: 62px;
   position: relative;
   margin-bottom: 0;
   border-bottom: 0 none;
  z-index: 9;
}


#content .box-2  .block-inner-2 .block-title span {
   color: white;
   display: block;
   font-family: sans-serif;
   font-weight: lighter;
   padding-left: 20px;
   padding-top: 7px;
   position: relative;
}

#content .box-2  .block-inner-2 li{
  list-style: none;
}

#content .box-2 .block a {
    color: #004A9E;
}

/*
#content .box-2 .feed-reader-block li, .recent-documents-block li{
	list-style: none;
	text-indent: 10px;
}
*/

.box-1 .blocks {
  background-color: #f7f7f7;
  padding: 0px;
  margin: 0px;
}

#theme-footer {
  background-color: #ffffff;
}

#wrap-2 {
  border: 0px;
}

#footer-links,
#copyright,
#theme-footer #language-chooser  {
  padding: 5px 10px;
}

#copyright p {
  margin: 0;
}


/*
 * Specific article style
 */

#article-tags{
 text-align: left;
 color: black;
}

/*
 * Specific blocks style
 */

/*FIXME verificar se pode usar .block-footer-content diretamente*/
#content .tags-block .block-footer-content,
#content .people-block .block-footer-content,
#content .profile-list-block .block-footer-content,
#content .enterprises-block .block-footer-content,
#content .members-block .block-footer-content,
#content .communities-block .block-footer-content,
#content .friends-block .block-footer-content{

  position: relative;
  bottom: 4px;
  width: 70px;
  right: 0px;
  font-size: 11px;
  color: #000;
  z-index: 10;
  text-decoration: none;
  padding-right: 15px;
  background-color: red;
/*  background: url(imgs/arrow-right-p.png) 100% 50% no-repeat;*/
}

#content .tags-block .block-footer-content a,
#content .people-block .block-footer-content a,
#content .profile-list-block .block-footer-content a,
#content .enterprises-block .block-footer-content a,
#content .members-block .block-footer-content a,
#content .communities-block .block-footer-content a,
#content .friends-block .block-footer-content a {
  font-size: 11px;
  color: #000;
  text-decoration: none;
  padding-right: 15px;
  background: url(imgs/arrow-right-p.png) 100% 50% no-repeat;
}

/* Plugin para curtir artigos e comentÃ¡rios */

.action .dislike:before {
  content: url(images/negative-hand.png);
}

.action .like:before {
  content: url(images/positive-hand.png);
}

.vote-action .like-action-active .action-icon {
  opacity: 1;
}

.vote-action .action-icon {
  opacity: 0.5;
}

#article .action .action-icon {
  top: 3px;
}

#article .like-action .like-action-counter {
  color: #2A8C32;
}

#article .dislike-action .like-action-counter {
  color: #CC0000;
}

.vote-actions {
  position: relative;
  right: 0;
  top: 0;
}

/* PopUp Login*/

#colorbox {
  left: -350px !important;
  margin-left: 50% !important;
  width: 700px !important;
}

#cboxWrapper {
    padding: 15px;
    position: relative;
    width: auto !important;
  /* height: auto !important;*/
}

#cboxContent{
  float: none !important;
  width: auto !important;
  height: auto !important;
  padding: 20px;
}

#cboxLoadedContent{
  width: auto !important;
  height: auto !important;
}

#colorbox .login-box .button-bar a.icon-close{
  width: auto !important;
}

#cboxMiddleLeft{
   float: none !important;
   height: auto !important;
}

#cboxTopCenter {
  height: auto !important;
}

#colorbox .login-box{
	width: 100%;
   background: url("images/img_login_popUp.png") no-repeat scroll 90% 50% #FFFFFF;
}

#colorbox .login-box h2{
    background: url("images/bg-titulo-login.png") no-repeat scroll 70px 7px #FFFFFF;
    color: #757575;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    width: 45%;
}

#colorbox .login-box form {
    margin: 0;
    width: 45%;
    /*background: url("images/img_login_popUp.png") no-repeat scroll 70% 30% #FFFFFF;*/
}

#colorbox .login-box .formfieldline input {
	width: 95%;
}

#colorbox .login-box .button-bar input.icon-login {
    background: url("images/btn_entrar_login.png") no-repeat scroll 0 0 #FFFFFF;
    border: 0px none;
    font-family: arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 50px !important;
    max-height: 50px !important;
    padding: 0;
    text-transform: uppercase;
    width: 145px;
	 cursor: pointer;
}

#colorbox .login-box .button-bar input.icon-login:hover {
	background-image: url("images/btn_entrar_login_hover.png");
}

#colorbox .login-box .button-bar a.icon-close {
  /*background: url("images/btn_cancelar_login.png") repeat-x scroll 0 0 #FFFFFF;*/
    background-color: #FCE9E8;
    background-image: none;
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
    color: #CE5E5E;
    font-size: 16px;
    font-weight: bold;
    height: 35px;
    padding: 14px 13px 0;
    text-align: center;
    text-transform: uppercase;
    width: 115px;
}
#colorbox .login-box .button-bar a.icon-close:hover {
	background-color: #FFD1CF;
}

#colorbox .login-box .button-bar input.submit,
#colorbox .login-box .button-bar a.icon-close {
    border: 0px none;
}

#colorbox .login-box .button-bar {
    float: none;
    margin-bottom: 1em;
    margin-top: 1em;
    width: 100%;
}

#colorbox .login-box .button-bar .icon-add{
    background-image: none;
    color: #004B82;
    float: right;
    font-size: 16px;
    font-weight: bold;
    margin-right: 75px;
    padding: 10px;
    position: relative;
    text-align: center;
    top: -3em;
    width: 30%;
}


#colorbox .login-box .button-bar .icon-help{
	
}

#colorbox .login-box form .button-bar {
	float: none; 
	width: 100%
}


#colorbox .login-box .button-bar a.button.icon-help,
#colorbox .login-box .button-bar a.button.icon-add {
  display: none;
}

